---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Infobox from '../components/Infobox.astro';
import Edit from '../components/edit/Edit.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import logo from '../assets/1.png';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body
		class="bg-primary-DARK text-primary-LIGHT flex flex-col items-center justify-center min-h-screen"
	>
		<Header title={SITE_TITLE} />
		<main class="mx-auto max-w-3xl p-4 min-h-screen flex flex-col justify-center prose prose-qgp">
			<div class="flex justify-center">
				<img src={logo} alt="QGP Logo" class="w-64 h-64 rounded-full shadow-lg" />
			</div>
			<h1 class="text-4xl text-center font-bold mt-4 mb-2">Build faster webapps.</h1>
			<Infobox warning>
				This project is in alpha state, but we use it in production at <a
					href="https://fogbender.com">fogbender.com</a
				>. If you find any bugs, please <a href="https://github.com/JLarky/create-qgp/issues"
					>open an issue</a
				>.
				<!-- See also this section in the docs for more info. -->
			</Infobox>
			<div class="bg-primary-NOTSODARK p-3 m-2 rounded-2xl bg-opacity-70">
				<p class="p-3">
					QGP is a tool to help you build webapps with Astro using your favorite frontend framework
					(current templates use React and SolidJS, and others are coming soon). It uses Vite to
					provide you with great DX, and it uses Astro to provide your users with great SEO and
					performance.
				</p>
				<p class="p-3">
					In short you can think of QGP as easy way to extend your existing SPA with SSR/SSG pages
					and allows you to opt in into server side rendering for specific pages. This could be a
					great option to gradually migrate your existing CRA (Create React App) that doesn't
					require a full rewrite.
				</p>
				<h4 class="text-2xl m-2 font-bold text-center" id="create-qgp">Create QGP App</h4>
				<p class="p-3">
					You can use the CLI to download a pre-configured template with an example app. Just follow
					these easy steps:
				</p>
				<ol class="list-decimal list-inside m-1">
					<li>Open a terminal in your folder of choice</li>
					<li>
						Type <code>npx create-qgp@latest -t qgp-demo qgp-demo</code> to download the template. (You
						can replace the second <code>qgp-demo</code> with any folder name you want.)
					</li>
					<li>
						Type <code>cd qgp-demo</code> (or your project name) to enter the new folder.
					</li>
					<li>
						Type <code>npm i -g @antfu/ni</code> to install a helpful tool.
					</li>
					<li>
						Type <code>ni</code> to set up the project.
					</li>
					<li>
						Type <code>nr dev</code> to start the dev server.
					</li>
					<li>
						Open <a href="http://localhost:3000">http://localhost:3000</a> to see the entire site on
						the Astro dev server.
					</li>
					<li>
						Open <a href="http://localhost:5173">http://localhost:5173</a> to see the React app on the
						Vite dev server.
					</li>
				</ol>
				<p>
					You can just enter <code>npm create qgp@latest</code> if you want to explore the other templates,
					or create your own!
				</p>
			</div>
			<Edit file="src/pages/index.astro" />
			<Footer />
		</main>
	</body>
</html>
