---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h2>Why QGP?</h2>
			<h3>The power of Astro</h3>
			<p>
				Everything that you see right now is powered by <a href="https://astro.build/">Astro</a>. It
				started as a static site generator with a mix of HTML and JSX style templating, but it's
				become so much more! Here's a small list of it's extensive features:
			</p>
			<ul>
				<li>Native TypeScript and MDX support -- No need for plugins or extra configuration.</li>
				<li>
					Bring Your Own Framework -- <a href="https://astro.build/integrations/frameworks/"
						>Use React, Vue, Svelte, etc.</a
					> (Astro components are great too!)
				</li>
				<li>Dynamic Route Rendering -- Choose between SSG and SSR by route.</li>
				<li>
					Island Architecture -- Choose when and how to hydrate your app with JavaScript (with 0kb
					by default!)
				</li>
				<li>
					Serverless Adapters for Vercel, Netlify, and Deno Deploy -- or build the app and host it
					yourself!
				</li>
				<li>
					and more! Check out the <a href="https://astro.build"
						>website for a full list of features</a
					>.
				</li>
			</ul>
			<h3>"Fat Islands"</h3>
			<p>
				With Astro, you can use as little client-side javascript as you want. This counter is
				powered by a simple script tag embedded right into the <code>index.astro</code> template.
			</p>
			<button id="counter">Click me (requires JS)</button>
			<script>
				let count = 0;
				// this is actually typescript code 🤯
				const button = document.getElementById('counter')!;
				button.innerText = 'Click me: ' + count;
				button.addEventListener('click', () => {
					count++;
					button.innerText = 'Click me again: ' + count;
				});
			</script>
			<p>
				But you can also use as much client-side javascript as you want. This example has an <a
					href="/SPA">entire React App in it</a
				> with multiple nested routes powered by React Router. While Astro was envisioned as a Multi-Page
				Application framework, QGP helps you blur these lines by placing one or more SPA's inside of
				your MPA.
			</p>
			<h3>Why not just use Astro?</h3>
			<p>
				So, what's the point of QGP if Astro is already so great? Well, there's one limitation that
				we haven't explained yet. While Astro is built on top of Vite, it runs additional build
				steps that are not compatible with Vite's HMR.
			</p>
			<p>
				This limitation is necessary for Astro to do some of its cool optimizations, but it is not
				ideal for developing complex applications. Lazy loading entire React applications into your
				site is nice, but testing them can be difficult when your state is lost every time you save
				a file.
			</p>
			<h3>Enter QGP</h3>
			<p>
				QGP simply sets up an additional Vite server that runs alongside Astro. This allows you to
				use Vite's HMR to develop your React app, while still using Astro's incredibly powerful
				tools.
			</p>
		</main>
		<Footer />
	</body>
</html>
