---
export interface Props {
	warning?: boolean;
	hint?: boolean;
}

const { warning, hint } = Astro.props;
const className = warning
	? 'bg-red-100 bg-opacity-80 border border-red-400 text-red-700'
	: hint
	? 'bg-blue-100 bg-opacity-80 border border-blue-400 text-blue-900'
	: 'bg-yellow-100 bg-opacity-80 border border-yellow-400 text-yellow-700';
---

<div class={'px-4 py-3 rounded-xl relative not-prose ' + className} role="alert">
	{hint && <strong class="font-bold">Pro Tip!</strong>}
	{!hint && !warning && <strong class="font-bold">Note:</strong>}
	<span class="block sm:inline">
		<slot />
	</span>
</div>
<style>
	div :global(a) {
		color: #1a202c;
		text-decoration: underline;
	}
</style>
