---
export interface Props {
	warning?: boolean;
	hint?: boolean;
}

const { warning, hint } = Astro.props;
const className = warning
	? 'bg-[#fee4e2] bg-opacity-80 border border-[#482322] text-[#b74c4e]'
	: hint
	? 'bg-[#e5e1f7] bg-opacity-80 border border-[#3d3b82] text-[#5658ca]'
	: 'bg-yellow-100 bg-opacity-80 border border-yellow-400 text-yellow-700';
---

<div class={'px-4 py-3 rounded-xl relative not-prose ' + className} role="alert">
	{hint && <strong class="font-bold">Pro Tip!</strong>}
	{!hint && !warning && <strong class="font-bold">Note:</strong>}
	<span class="block sm:inline">
		<slot />
	</span>
</div>
<style>
	div :global(a) {
		color: #1a202c;
		text-decoration: underline;
	}
</style>
