.root {
	font-family: Verdana, sans-serif;
	margin: auto;
	padding: 20px;
	max-width: 65ch;
	text-align: left;
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
	font-weight: bold;
	color: #222;
}
a {
	color: #3273dc;
}
nav a {
	margin-right: 10px;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
content {
	line-height: 1.6;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
}
code {
	padding: 2px 5px;
	background-color: #f2f2f2;
}
pre {
	padding: 1rem;
}
pre > code {
	all: unset;
}
blockquote {
	border: 1px solid #999;
	color: #222;
	padding: 2px 0px 2px 20px;
	margin: 0px;
	font-style: italic;
}

a {
	color: #3243aa;
}

.spa header {
	margin: 0em 0 2em;
}
.spa nav a {
	margin-right: 16px;
	text-decoration: none;
}

.spa nav a.active {
	font-weight: bolder;
	text-decoration: underline;
}

.spa h2 {
	color: #222;
	margin: 0.5em 0;
}

.app {
	display: flex;
	padding: 0.5rem;
	gap: 1rem;
}

.app aside {
	flex: 0 0 140px;
	background: #eee;
	border: 1px solid #ccc;
	padding: 0 10px 10px 10px;
}

.app aside a {
	display: block;
}

.btn {
	all: unset;
	cursor: pointer;
}

.toggleTheme {
	position: sticky;
	top: 30px;
	background: #ccc;
	padding: 0.5rem;
	border: 1px solid #999;
}
