---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
---

<html lang="en" class="bg-primary-DARK">
	<BaseHead title="" description="" />
	<body>
		<Header />
		<noscript>You need to enable JavaScript to run this app.</noscript>
		<slot />
		<Footer />
	</body>
</html>
